body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Microsoft YaHei, '宋體', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

/* 頂部透明的 Navbar */
.transparent-navbar {
    background-color: rgba(183, 218, 215, 0.2);
    /* 初始透明度為 0 */
    transition: background-color 0.3s ease;
    /* 使用過渡效果 */
}

/* 不透明的 Navbar */
.opaque-navbar {
    background-color: rgba(183, 218, 215, 1);
    /* 滾輪滑動後的顏色 */
    transition: background-color 0.3s ease;
}


.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0%;
    left: 100%;
    margin-top: -8px;

}




.custom-jumbotron {
    background: url('picture/poster_notext_cut.webp') center/cover no-repeat;
    /* 將 'your-image-url.jpg' 替換為您的圖片 URL */
    color: #fff;
    /* 設定文字顏色，以確保在圖片上可讀取 */
    height: 80vh;
    position: relative;
    /* 設定相對定位 */
}

.jumbotron-content {
    position: absolute;
    bottom: 5%;
    left: 60%;
    transform: translateX(-50%);
}


/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
}
p,
a,
input,
label,
textarea,
span,
ul,
li {
    font-family: 'Open Sans', sans-serif;
}
*/