body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Microsoft YaHei, '宋體', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

.font-bold {
    font-weight: 700;
}

.text-2xl {
    font-size: 1.8rem;
    line-height: 2rem;
}

.text-xl {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* NavBar */


.transparent-navbar {
    background-color: rgba(66, 80, 79, 0.5);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease;

    .dropdown-menu {
        min-width: 5rem;
        --bs-dropdown-color: #ffffff;
        --bs-dropdown-bg: #2f383775;
        --bs-dropdown-border-color: rgb(0 0 0 / 0%);
        --bs-dropdown-border-radius: 0.25rem;
        --bs-dropdown-link-color: #ffffff;
        --bs-dropdown-link-hover-color: #ffffff;
        --bs-dropdown-link-hover-bg: #afcbc98c;
        --bs-dropdown-link-active-bg: #afcbc98c;
        backdrop-filter: blur(10px);
    }
}

.opaque-navbar {
    background-color: rgb(175, 203, 201);
    transition: background-color 0.3s ease;


    .dropdown-menu {
        min-width: 5rem;
        --bs-dropdown-color: #ffffff;
        --bs-dropdown-bg: #afcbc9e3;
        --bs-dropdown-border-color: rgb(175, 255, 250, 0.8);
        --bs-dropdown-border-radius: 0.25rem;
        --bs-dropdown-link-color: #000000;
        --bs-dropdown-link-hover-color: #000000;
        --bs-dropdown-link-hover-bg: #afcbc98c;
        --bs-dropdown-link-active-bg: #afcbc98c;
    }

}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0%;
    left: 100%;
    margin-top: -2px;

}


.header {
    /* background: url('picture/headerImage.webp') center/cover no-repeat; */
    position: relative;
    height: 100vh;
}


.test {
    background: url('picture/test.png') center/cover no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: -1;
}

/* jumbotron
.custom-jumbotron {
    background: url('picture/poster_notext_cut.webp') center/cover no-repeat;
    color: #fff;
    height: 80vh;
    position: relative;
}

.jumbotron-content {
    position: absolute;
    bottom: 5%;
    left: 60%;
    transform: translateX(-50%);
} */

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
}
p,
a,
input,
label,
textarea,
span,
ul,
li {
    font-family: 'Open Sans', sans-serif;
}
*/